annotated-types==0.7.0
eyecite==2.7.6
fastapi==0.117.1
httpx==0.28.1
openai==2.0.1
psycopg==3.2.10
psycopg-binary==3.2.10
PyAlex==0.18
pymupdf==1.26.4
pytesseract==0.3.13
python-docx==1.2.0
python-dotenv==1.1.1
python-multipart==0.0.20
RapidFuzz==3.14.1
regex==2025.9.18
uvicorn==0.36.0
Werkzeug==3.1.3
wheel==0.45.1